[Unit]
Description=Vulcast firmware
AssertPathExists=/usr/bin/vulcast-firmware
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/bin/vulcast-firmware --config-dir /etc/vulcast-firmware
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
Alias=vulcast-firmware
WantedBy=default.target
